.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f0f0f0;
}

.logo {
  width: 100px;
  background-color: #f0f0f0;
  margin-left: 5px;
  margin-top: 5px;
}

.nav-items > ul {
  display: flex;
  padding-right: 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  font-size: 18px;
}

.nav-items > ul > li:hover {
  background-color: #f6b34f;
  border-radius: 8px;
  cursor: pointer;
}

.login-btn {
  background-color: #f6b34f;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #f5a227;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-box {
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
}

.search-btn {
  cursor: pointer;
  background-color: #696969;
  border-radius: 5px;
  padding: 10px;
  border: none;
  color: #f0f0f0;
}

.search-btn:hover {
  background-color: #000000;
}

.filter-btn {
  margin: 25px;
  cursor: pointer;
  background-color: #f6b34f;
  border-radius: 5px;
  padding: 10px;
  border: none;
}

.filter-btn:hover {
  background-color: #f5a227;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f7f8;
}

.shimmer-card {
  margin: 15px;
  background-color: #f6f7f8;
  padding: 16px;
  border-radius: 8px;
  width: 238px;
  height: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-container::before,
.shimmer-card::before {
  content: "";
  position: absolute;
  top: 130px;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
  animation: shimmer 0.5s infinite;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.resCard {
  margin: 15px;
  background-color: #f0f0f0;
  padding: 16px;
  border-radius: 8px;
  width: 238px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.resCard:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.reslogo {
  width: 100%;
  border-radius: 8px;
}

.resDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.resDetails h4 {
  margin: 0;
  font-size: 14px;
  color: #555;
}
